@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cormorant+Unicase:wght@400;700&family=Diplomata&display=swap');

:root {
    --table-border: 1px solid black;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}

section {
    margin: 20px;
}

/*
    REGION: City Designer
*/

#builder-section {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    min-width: 300px;
}

#builder-section label {
    display: block;
    margin-bottom: 3px;
}

#builder-section input,
#builder-section select,
#builder-section textarea {
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

textarea {
    resize: none;
}

#slogan-button {
    position: relative;
    top: -8px;
}

#save-button {
    display: block;
    margin-top: 20px;
}

/*
    REGION: City Display
*/

#display-section {
    /* background-color: rgba(0, 0, 255, 0.2); */
    text-align: center;
    padding: 10px;
}

#display-section p {
    margin: 8px 0;
    font-size: 2em;
}

#display-section img {
    width: 175px;
}

#display-section li {
    margin: 5px;
}

#display-section li::after {
    content: "\"";
}

#display-section li::before {
    content: "\"";
}

/* themes */

.temperate {
    background-color: rgb(84, 134, 101);
    color: white;
}

.desert {
    background-color: rgb(235, 194, 166);
    color: black;
}

.coastal {
    background-color: rgb(81, 138, 168);
    color: rgb(255, 255, 255);
}

.victorian {
    font-family: 'Diplomata', cursive;
    font-size: 0.8em; /* why is this font so wide? */
}

.gothic {
    font-family: 'Cormorant Unicase', serif;
}

.classical {
    font-family: 'Cinzel', serif;
}

/*
    REGION: City List
*/

#list-section {
    background-color: rgba(0, 255, 0, 0.2);
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px 10px;
    border-left: var(--table-border);
    border-right: var(--table-border);
}

/* note: height acts like min-height on td... but why? */
tbody td {
    height: 25px;
}

td:first-child {
    border-left: none;
    border-right: var(--table-border);
}

td:last-child {
    border-left: var(--table-border);
    border-right: none;
}

thead td {
    border-bottom: var(--table-border);
}
